@page "/"

<PageTitle>Photo Gallary</PageTitle>

<h1>Photo Gallary</h1>

<RadzenStack AlignItems="AlignItems.Center" class="rz-mx-auto rz-my-12">
    <RadzenImage Path="https://rumdice-projectss.s3.ap-northeast-2.amazonaws.com/images/bike.jpeg" Style="width: 15rem;"
        AlternateText="bike" />
</RadzenStack>

