@page "/Table"

<PageTitle>Table Viewer</PageTitle>

<h1>Upload Photo</h1>

<RadzenStack Gap="1rem">
    <RadzenDataGrid Data="@accountList" PagerPosition="@pagerPosition" AllowPaging="true" AllowSorting="true">
        <Columns>
            <RadzenDataGridColumn Property="pid" Title="pid" />
            <RadzenDataGridColumn Property="name" Title="name" />
            <RadzenDataGridColumn Property="password" Title="password" />
        </Columns>
    </RadzenDataGrid>
</RadzenStack>


