@inherits LayoutComponentBase

<RadzenLayout>
    <ChildContent>
        <RadzenSidebar>
            <RadzenPanelMenu Style="width: 100%;">
                @foreach (var item in SideMenu.menuItems)
                {
                    <RadzenPanelMenuItem Text="@item.Text" Path="@item.Path" Icon="@item.Icon" />
                }
            </RadzenPanelMenu>
        </RadzenSidebar>

        <RadzenHeader>
            <h1>My Application</h1>
        </RadzenHeader>

        <main>
            <div class="content px-4">
                @Body
            </div>
        </main>
    </ChildContent>
</RadzenLayout>

@code {
    
}