<HeadContent>
    <RadzenTheme Theme="material" />
</HeadContent>

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <RadzenComponents /> <!-- Radzen 전역 컴포넌트 추가 -->
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>